<div class="card --article">

  <div class="thumbnail">
    <img src="assets/images/family-01.jpg" alt="">
    <span>Check Up Festival 2 สวัสดีอีกครั้ง แล้วพบกันใหม่</span>
  </div><!-- thumbnail -->

  <h5>ช้อปแพคเกจตรวจสุขภาพในราคาที่ใครๆ ก็เข้าถึงสำหรับทุกคน ในครอบครัว</h5>
  <div class="footer">
    <div>
      <span class="date-add">
        <i class="far fa-calendar"></i>
         17 พ.ย. 2560
      </span>
    </div>
    <div>
      <span>อ่านต่อ</span>
    </div>
  </div>

</div><!-- card.--article -->
