<div class="card">
    <div class="card-image">
        <img class="card-img-top" src="images/family-01.jpg" alt="Card image cap">
        <h4 class="card-title">Check Up Festival 2 สวัสดีอีกครั้ง แล้วพบกันใหม่</h4>
    </div>
    <div class="card-block">
        <p class="card-text">ช้อปแพคเกจตรวจสุขภาพในราคาที่ใครๆ ก็เข้าถึงสำหรับทุกคน ในครอบครัว</p>
    </div>
    <div class="card-footer">
        <span class="date-add">
        <i class="far fa-calendar"></i> 17 พ.ย. 2560 </span>
        <a href="#" class="readmore">อ่านต่อ</a>
    </div>
</div><!-- card -->