<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark  navbar-paolo ">
  <div class="container">

    <a class="navbar-brand" href="index.html">
      <img src="images/logo.png" srcset="images/logo@2x.png 2x" alt="logo" width="150px">
    </a>

    <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="d-lg-none">
        <div class="radius-search msearch">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="คำที่ต้องการค้นหา">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fas fa-search"></i>
              </button>
            </span>
          </div>
        </div><!-- radius-search -->
      </div><!-- d-lg-none -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">หน้าแรก</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">เลือกโรงพยาบาลสาขา</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            บริการ
          </a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="#">ห้องพัก</a>
            <a class="dropdown-item" href="#">นัดหมายตรวจสุขภาพ</a>
            <a class="dropdown-item" href="#">บริการลูกค้าประกัน</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">ข่าวสารกิจกรรม</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="contact-us.html">ติดต่อเปาโล</a>
        </li>
        <li class="nav-item dropdown lang d-none d-lg-block">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="images/icons/th-th.png" srcset="images/icons/th-th@2x.png 2x" alt="" height="25">
          </a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" href="#">
              <img src="images/icons/en-en.png" srcset="images/icons/en-en@2x.png 2x" alt="" height="25">
            </a>
            <a class="dropdown-item" href="#">
              <img src="images/icons/cn-cn.png" srcset="images/icons/cn-cn@2x.png 2x" alt="" height="25">
            </a>
          </div>
        </li>
      </ul><!--navbar-nav -->
      <div class="top-header ">
        <div class="tablet-social mt-3 mb-1 d-block d-sm-none">
          <div class="widget-social">
            <ul>
              <li>
                <a href="#" class="social">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div><!-- top-header -->
    </div><!-- collapse navbar-collapse -->

  </div><!-- container -->
</nav>