<section class="testimonial">
	<div class="feature-image"></div>

	<div class="container">
		<div class="quote col-12">
		ปัจจุบันนี้ดิฉันมีอาการดีขึ้นตามลำดับ และไม่ทรมานเหมือนเมื่อก่อนแล้วค่ะ และจากเรื่องที่เล่าให้ทางโรงพยาบาลเปาโล พหลโยธิน ทราบจะเห็นได้ว่าคุณหมอนิพนธ์ มีการวินิจฉัยโรคที่เก่งและมีการรักษาที่ตรงจุดทำให้คนไข้อย่างดิฉันรอดตายในครั้งนี้ค่ะ <a href="#" class="btn-readmore"> ...อ่านต่อ</a>

		<span class="name">นิภา อุดมวัฒนพงศ์ ผู้ป่วยโรคเส้นเลือดหัวใจตีบ</span>

		</div>
	</div><!-- container -->
</section><!-- section.testimonial -->