<!-- Banner Slide -->
<header>
  <div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mainCarousel" data-slide-to="1"></li>
      <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      
        <div class="carousel-item active" style="background-image: url('https://www.paolophahol.com/Resource/Image/Banner/1900x600.jpg')">
          <a href="http://www.paolophahol.com/" target="_blank" class="d-block w-100 h-100">
              <div class="carousel-caption ">
                <h3 class="carousel-title">รักษาอย่าง
                  <span class="bold">เข้าถึง</span>
                </h3>
                <h3 class="carousel-title udline">ดูแลอย่าง
                  <span class="bold">เข้าใจ</span>
                </h3>
              </div>
          </a>
        </div>
      
      
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://www.paolophahol.com/Resource/Image/Banner/Cover_banner_Senior.jpg')">
          <a href="http://www.paolophahol.com/" target="_blank" class="d-block w-100 h-100">
              <div class="carousel-caption ">
                <h3 class="carousel-title">รักษาอย่าง
                  <span class="bold">เข้าถึง</span>
                </h3>
                <h3 class="carousel-title udline">ดูแลอย่าง
                  <span class="bold">เข้าใจ</span>
                </h3>
              </div>
          </a>
        </div>
      
      
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://www.paolophahol.com/Resource/Image/Banner/banner_momclass.jpg')">
          <a href="http://www.paolophahol.com/" target="_blank" class="d-block w-100 h-100">
              <div class="carousel-caption ">
                <h3 class="carousel-title">รักษาอย่าง
                  <span class="bold">เข้าถึง</span>
                </h3>
                <h3 class="carousel-title udline">ดูแลอย่าง
                  <span class="bold">เข้าใจ</span>
                </h3>
              </div>
          </a>
        </div>
      
    </div>

  </div>
</header>