<!-- Healthy Article -->
<div class="block-content article-healthy">
	<div class="page-header">
		<div class="page-title">
		<img src="images/icons/note.png" srcset="images/icons/note@2x.png 2x" class="ico"> บทความสุขภาพ</div>
	</div><!-- page-header -->
	<div class="row">
		<div class="col-md-6">
			<a href="#">
				<div class="card">
					<div class="card-image">
						<img class="card-img-top" src="images/healthy-01.jpg" alt="Card image cap">
						<h4 class="card-title">นมแม่ ทุนสมองของลูกรัก</h4>
					</div>
					<div class="card-block">
						<p class="card-text">นมแม่ คือ การเริ่มต้นที่ดีสำหรับลูก เพราะมีสารอาหารที่จำเป็นและ มีประโยชน์กับตัวลูกนับไม่ถ้วน น้ำนมแม่มีคุณค่าต่อสมองของลูก</p>
					</div>
					<div class="card-footer">
						<span class="date-add">
						<i class="far fa-calendar"></i> 17 พ.ย. 2560 </span>
						<a href="#" class="readmore">อ่านต่อ</a>
					</div>
				</div><!-- card -->
			</a>
		</div><!-- col -->
		<div class="col-md-6">
			<a href="#">
				<div class="card">
					<div class="card-image">
						<img class="card-img-top" src="images/healthy-02.jpg" alt="Card image cap">
						<h4 class="card-title">สุดยอดเมนูอาหารไฟเบอร์</h4>
					</div>
					<div class="card-block">
						<p class="card-text">ปัญหาเรื่องการขับถ่ายยาก ท้องผูก นอกจากจะทำให้รู้สึกอึดอัด ไม่สบายตัวแล้ว ยังอาจนำไปสู่โรคภัยไข้เจ็บได้ในที่สุด</p>
					</div>
					<div class="card-footer">
						<span class="date-add">
						<i class="far fa-calendar"></i> 17 พ.ย. 2560 </span>
						<a href="#" class="readmore">อ่านต่อ</a>
					</div>
				</div><!-- card -->
			</a>
		</div><!-- col -->
	</div><!-- row -->
	<div class="block-footer float-right">
		<a href="#" class="btn btn-primary">บทความทั้งหมด</a>
	</div>
</div><!--block-conntent-->
