<!-- Video -->
<div class="block-content sidebar-video video-block">
	<div class="page-header">
		<div class="page-title ">
		<img src="images/icons/play.png" srcset="images/icons/play@2x.png 2x" class="ico"> วีดีโอ</div>
	</div><!-- page-header -->
	<div class="card-deck">
		<div class="card">
			<div class="video-player">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eXopFg0MIA8?rel=0&amp;controls=0&amp;showinfo=0"
			frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="card-block">
				<h4 class="video-title ">การรับส่งผู้ป่วยฉุกเฉิน</h4>
				<p class="video-text">โดย นพ.ราม บรรพพงษ์ แพทย์เวชศาสตร์ฉุกเฉิน รพ.เปาโล พหลโยธิน</p>
			</div>
			<div class="card-footer">
				<span class="date-add">
				<i class="far fa-calendar"></i> 17 พ.ย. 2560 </span>
			</div>
		</div><!-- card -->
	</div><!-- card-deck -->
	<div class="block-footer float-right">
		<a href="#" class="btn btn-secondary">วีดีโอทั้งหมด</a>
	</div>
</div><!-- block-content -->