<!-- Promotion Article -->
<div class="block-content article-promotion">
	<div class="page-header">
		<div class="page-title">
			<img src="images/icons/medic-case.png" srcset="images/icons/medic-case@2x.png 2x" class="ico"> โปรโมชั่น
		</div>
	</div><!-- page-header -->
	<div class="row">
		<div class="col-md-6">
			<a href="#">
				<div class="card">
					<div class="card-image">
						<img class="card-img-top" src="images/family-01.jpg" alt="Card image cap">
						<h4 class="card-title">Check Up Festival 2 สวัสดีอีกครั้ง แล้วพบกันใหม่</h4>
					</div>
					<div class="card-block">
						<p class="card-text">ช้อปแพคเกจตรวจสุขภาพในราคาที่ใครๆ ก็เข้าถึงสำหรับทุกคน ในครอบครัว</p>
					</div>
					<div class="card-footer">
						<span class="date-add">
						<i class="far fa-calendar"></i> 17 พ.ย. 2560 </span>
						<a href="#" class="readmore">อ่านต่อ</a>
					</div>
				</div><!-- card -->
			</a>
		</div><!-- col -->
		<div class="col-md-6">
			<a href="#">
				<div class="card">
					<div class="card-image">
						<img class="card-img-top" src="images/family-02.jpg" alt="Card image cap">
						<h4 class="card-title">โปรแกรมฝากครรภ์เหมาจ่าย</h4>
					</div>
					<div class="card-block">
						<p class="card-text">ฝากครรภ์ จุดเริ่มต้นของการดูแล การตั้งครรภ์ เป็นช่วงเวลาที่ ต้องเอาใจใส่เป็นพิเศษ เพราะมีการเปลี่ยนแปลงทั้งสภาวะร่างกาย</p>
					</div>
					<div class="card-footer">
						<span class="date-add">
						<i class="far fa-calendar"></i> 17 พ.ย. 2560 </span>
						<a href="#" class="readmore">อ่านต่อ</a>
					</div>
				</div><!-- card -->
			</a>
		</div><!-- col -->
	</div><!-- row -->
	<div class="block-footer float-right">
	<a href="#" class="btn btn-primary">โปรโมชั่นทั้งหมด</a>
	</div>
</div><!--block-conntent-->
