<section class="clinic-center content mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="block-content block-primary no-padding">
                    <div class="page-header">
                        <div class="page-title ">
                        <img src="images/icons/clinic.png" srcset="images/icons/clinic.png 2x" class="ico"> ศูนย์และคลิกนิก</div>
                    </div><!-- page-header -->

                    <div class="clinic-list">

                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-15-surgery.svg" class="ico"> 
                          </div>
                          <div class="item-caption">ศูนย์ศัลยกรรม</div>
                          </a>
                          </div><!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-16-heart.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์หัวใจ</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2 ">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-10-female.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์สุภาพสตรี</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-06-teeth.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์ทันตกรรม</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-12-stomach.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์ระบบอาหาร</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-02-spine.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์กระดูกสันหลัง</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2 ">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-14.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์วิสัญญี</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2 ">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-04-check.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์ตรวจสุขภาพ</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2 ">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-13-brain.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์ระบบประสาท และสมอง
                          </div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-01-bone.svg" width="50">
                          </div>
                          <div class="item-caption">ศูนย์กระดูกและข้อ</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-11-corridor.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์ระบบทางเดิน ปัสสาวะ
                          </div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-03-child.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์กุมารเวช</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-07-respiratory.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์ทางเดินหายใจ</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-09-skin.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์ผิวหนัง</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-18-internal.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์อายุรกรรม</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-08-diabetes.svg" width="50">
                          </div>
                          <div class="item-caption">ศูนย์เบาหวาน และเฉพาะโรค
                          </div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2 ">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-17-nose.svg" class="ico">
                          </div>
                          <div class="item-caption">ศูนย์ หู คอ จมูก</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->
                      
                      <div class="card-department col-12 col-md-6 col-lg-2">
                          <div class="center-list department-layout-2 d-flex justify-content-center align-items-center">
                          <div class="item">
                          <a href="#">
                          <div class="item-image">
                          <img src="images/icons/icon-05-eye.svg" width="50">
                          </div>
                          <div class="item-caption">ศูนย์ตา</div>
                          </a>
                          </div>
                          <!--item-->
                          </div>
                      </div><!-- card-department -->

                      <div class="card-department col-12 text-center mt-3 mb-4">
                          <a href="#" class="btn btn-primary">ศูนย์และคลินิกทั้งหมด</a>
                      </div>
                        
                    </div> <!-- clinic-list -->
                </div><!-- block-content -->

            </div><!-- col -->
        </div><!-- End row -->
    </div><!-- End container -->
</section>