<!-- HOT MEMU -->
<section id="optionSticky" class="hotmenu">
  <section class="choose-option">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="option-block ">
            <a href="#" class="">
              <img src="images/icons/doctor.png" alt="">
              <span class="option-text">ค้นหาแพทย์</span>
            </a>
          </div>
        </div><!-- col -->
        <div class="col">
          <div class="option-block ">
            <a href="#" class="">
              <img src="images/icons/clinic.png" alt="">
              <span class="option-text">ศูนย์และคลิกนิก</span>
            </a>
          </div>
        </div><!-- col -->
        <div class="col">
          <div class="option-block ">
            <a href="#" class="">
              <img src="images/icons/package.png" alt="">
              <span class="option-text">แพ็กเกจและโปรโมชั่น</span>
            </a>
          </div>
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </section><!-- choose-option -->
</section>