<!-- Footer -->
<footer class=" ">
	<div class="top-footer">
		<div class="container">
		<div class="row">
		<div class="w-20">
		  <img src="images/icons/newsletter.png" srcset="images/icons/newsletter@2x.png 2x" class="img-responsive">
		  <h2>สมัครรับข่าวสาร
		    <br>
		    <span>อัพเดทจากเปาโล</span>
		  </h2>
		  <button type="submit" class="btn btn-secondary btn-lg">
		    สมัครรับข่าวสาร
		  </button>
		</div>
		<!-- End of .col-sm-3 -->

		<div class="w-20">
		  <h3>
		    <i class="fas fa-chevron-right"></i> บริการทางการแพทย์</h3>
		  <ul>
		    <li>
		      <a href="#">ค้นหาแพทย์</a>
		    </li>
		    <li>
		      <a href="#">ศูนย์บริการทางการแพทย์</a>
		    </li>

		  </ul>
		</div>
		<!--w-20 -->

		<div class="w-20">
		  <h3>
		    <i class="fas fa-chevron-right"></i> บทความ</h3>
		  <ul>
		    <li>
		      <a href="#">บทความทางการแพทย์</a>
		    </li>
		    <li>
		      <a href="#">บทความสุขภาพจากใจผู้บริการ</a>
		    </li>

		  </ul>
		</div>
		<!--w-20 -->

		<div class="w-20">
		  <h3>
		    <i class="fas fa-chevron-right"></i> บริการของเรา</h3>
		  <ul>
		    <li>
		      <a href="#">ห้องพักและสิ่งอำนวยความสะดวก</a>
		    </li>
		    <li>
		      <a href="#">ศูนย์บริการทางการแพทย์</a>
		    </li>
		    <li>
		      <a href="#">ลูกค้าประกัน</a>
		    </li>
		    <li>
		      <a href="#">แพ็กเกจและโปรโมชั่น</a>
		    </li>
		    <li>
		      <a href="#">บทความสุขภาพ</a>
		    </li>
		    <li>
		      <a href="#">ข่าวสารและกิจกรรม</a>
		    </li>

		  </ul>
		</div>
		<!--w-20 -->


		<div class="w-20">
		  <h3>
		    <i class="fas fa-chevron-right"></i> บริการของเรา</h3>
		  <ul>
		    <li>
		      <a href="#">ติดต่อเรา</a>
		    </li>
		    <li>
		      <a href="#">แนะนำ/ ติชม</a>
		    </li>




		  </ul>
		</div>
		<!--w-20 -->
		<div class="divider"></div>
		<div class="col-md-6">
		  <div class="callcenter">
		    <h3>โทรหาเราได้ที่ 0-2271-7000 แฟกซ์ 0-2271-4454</h3>
		  </div>
		</div>
		<div class="col-md-6 d-none d-md-block">
		  <div class="social-footer">

		    <ul>
		      <li>
		        <h3>ติดตามเปาโล</h3>
		      </li>
		      <li>
		        <a href="#" class="social">
		          <i class="fab fa-facebook-f"></i>
		        </a>
		      </li>
		      <li>
		        <a href="#" class="social">
		          <i class="fab fa-instagram"></i>
		        </a>
		      </li>
		      <li>
		        <a href="#" class="social">
		          <i class="fab fa-twitter"></i>
		        </a>
		      </li>
		      <li>
		        <a href="#" class="social">
		          <i class="fab fa-youtube"></i>
		        </a>
		      </li>
		    </ul>
		  </div>
		</div>
		</div>
		</div>
	</div><!-- top-footer -->
  <div class="bottom-footer">
    <div class="container"></div>
    <img src="images/bdms.png" alt="" class="img-fluid">
    <p>Copyright 2017. Paolo Hospital All rights reserved.</p>
  </div><!-- bottom-footer -->
</footer>