.login-link{
    padding:20px; 

    a,span{
        display:inline-block; vertical-align: middle;
    }

    a{
        color:$themecolor3; 
    }

    .forgot{
        color:#ccc; 
    }

    span{
        height: 10px; width:1px; background:#ccc;
        margin:0 10px;
    }
}

.login-left{
    padding-right:50px; padding-top:15px;
    border-right:2px solid $themecolor3;
}

.login-right{
    padding:20px 0 0 40px;
    font-size:1.4rem; color:#444;
}


.payment-status{
    text-align: center; padding:50px 0;

    img{
        max-width: 100%;
        width:100px;
        display:inline-block;
    }

    span{
        display: inline-block; clear: both;
        font-size:1.8rem;
        margin:20px 0 0;
    }
}