// Import Fonts from google fonts
// --------------------------------------------------------------------------------

@import url('font-dbheavent.css');


// Color Variable
// -------------------------------------------------------------------------------
// $primary: #1D439C;
// $secondary: #666;
// $tertiary: #F6891F;
// $blue: #14B1E7;
$primary: rgba(128, 184, 227, 1);
$secondary: rgba(168, 178, 182, 1);
$tertiary: rgba(240, 91, 45, 1);
$background: #F2F2F2;
$blue: rgba(128, 184, 227, 1);
$blue-2: #047BC3;
$darkblue: #047BC1;
$lightblue: #e5eff9;
$white: #fff;
$text: #333;
$text-secondary: #808080;
$footer-bg: #F2F2F2;
$block-primary: #E6E6E6;
$color-test: #FFF;
$color-black: #000;
$color-white: #fff;

// Theme Style
// --------------------------------------------------------------------------------
html,
body {
    width: 100%;
    height: 100%;
}

body {
    
    font-family: "DBHeavent"; //, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px​ !important;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    background-color: $background;
    @media (max-width: 992px) {
        padding-top: 56px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DBHeavent", san-serif;
    font-weight: 400;
}

p {
    font-family: "DBHeavent", sans-serif;
    color: #9a9a9a;
    font-weight: 400;
    font-size: 16px;
}

dl,
ol,
ul {
    margin-bottom: 10px;
}

ul {
    padding-left: 0;
    li {
        list-style: none;
    }
}

.page-link {
    padding: 5px 10px;
}

//label 
.col-form-label {
    font-style: initial;
}

.line {
    background: #8DD8F8;
    width: 100%;
    height: 2px;
}

//Input 
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-select {
    border-radius: 0 !important;
    font-weight: 400;
    color: $text-secondary;
    font-style: italic;
}

//Button
button:focus {
    outline: 0;
}

.btn {
    font-weight: 400;
    &.btn-primary {
        background: $blue;
        border-color: $blue;
        color: $white;
    }
    &.btn-secondary {
        background: $white;
        border-color: $white;
        color: $darkblue;
    }
    &.btn-info {
        background: $darkblue;
        border-color: $darkblue;
        color: $white;
    }
}

.divider {
    width: 100%;
    height: 1px;
    background: $white;
    opacity: .7;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px 0;
}

.dotted {
    display: inline-block;
    width: 3px;
    height: 3px;
    position: relative;
    left: -4px;
    width: 3px;
    vertical-align: middle;
    background: $blue;
    border-radius: 50%;
}

a {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

video,
iframe {
    width: 100% !important;
    @media (max-width: 992px) {
        height: auto !important;
    }
}

.modal {
    .modal-header {
        border: 0;
        padding-bottom: 0;
    }
    .modal-footer {
        justify-content: flex-start;
        font-weight: 400;
        border: 0;
        padding-top: 0;
    }
}

.text-regular {
    font-weight: 400;
}

.text-color-blue {
    color: $primary;
}

.text-color-sky {
    color: $blue;
}

.text-color-orange {
    color: $tertiary;
}

.text-sm {
    font-size: 22px;
}

ol,
ul {
    li {
        font-weight: 400;
        color: $secondary;
    }
}

ul.dot {
    padding-left: 15px;
    li {
        list-style-type: disc !important;
    }
}

ol {
    padding-left: 15px;
}

.text-xl {
    font-size: 10em;
    @media (max-width: 992px) {
        font-size: 3em;
    }
}

.t-200 {
    font-weight: 400;
}

.t-400 {
    font-weight: 400;
}

.no-padding {
    padding: 0 !important;
}

.video-player iframe {
    width: 100%;
    height: 180px;
}

.w-20 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    @media (min-width: 768px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.ico {
    max-width: 40px;
    max-height: 40px;
    @media ( max-width: 992px) {
        height: 30px;
    }
}

.text-lg {
    font-size: 38px !important;
}

//TopHeader 
.topfix {
    position: fixed;
}

.topbar {
    background: #fff;
    width: 100%;
    float: right;
    padding-top: 20px;
    @media (max-width: 992px) {
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
        display: none;
    }
    ul {
        display: inline-flex;
        float: right;
        @media (max-width: 992px) {
            overflow: hidden;
            padding: 0;
            display: block;
        }
        li {
            float: left;
            padding: 0 3px;
            a {
                color: $primary;
                border: 2px solid $primary;
                display: block;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                padding: 5px;
                line-height: 30px;
                text-align: center;
                &:hover,
                &:focus {
                    background: $primary;
                    color: $white;
                }
                i {
                    font-size: 20px;
                }
            }
        }
    }
}

.tablet-social {
    ul {
        display: flex;
        justify-content: center;
    }
}

//Form 
form {
    label {
        font-weight: 400;
        color: $text-secondary;
    }
    .form-group {
        font-weight: 400;
        color: $text-secondary;
    }
    ::-webkit-input-placeholder {
        font-style: italic;
        font-weight: 400;
    }
    .form-check:first-child {
        padding-left: 20px;
        label {
            padding-left: 5px;
        }
    }
    .form-control {
        border-radius: 0;
    }
    .form-group {
        i {
            font-size: 22px;
            line-height: 1.8em;
        }
    }
} //form
//RadiusSearch 
.radius-search {
    .input-group {
        .form-control {
            background-color: #F0EFF4;
            border-radius: 22px;
            color: $secondary;
            border-color: #F0EFF4;
        }
        ::-webkit-input-placeholder {
            font-style: italic;
            font-weight: 400;
        }
        .btn {
            position: absolute;
            right: 0;
            background: transparent;
            color: $secondary;
            z-index: 99;
            &:focus {
                color: $secondary;
                box-shadow: none;
            }
        }
    }
    &.msearch {
        padding: 10px;
    }
}

.widget-social {
    ul {
        .social-title {
            line-height: 38px;
            font-weight: 400;
        }
        li {
            font-weight: 400;
            color: $primary;
            float: left;
            padding-left: 5px;
            a {
                color: $primary;
                border: 2px solid $primary;
                display: block;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                padding: 5px;
                line-height: 30px;
                text-align: center;
                transition: all 0.5s;
                &:hover,
                &:focus {
                    background: $primary;
                    color: $white;
                }
                i {
                    font-size: 20px;
                }
            }
        }
    }
}

//NavbarBrand 
.navbar-brand {
    // position: absolute;
    // height: 150px;
    @media (max-width: 992px) {
        position: relative;
        height: auto;
    }
    img {
        @media (max-width: 992px) {
            max-height: 70px;
            width: auto;
        }
    }
}

//Navbar {
.navbar-paolo {
    &.topfix {
        .navbar-brand {
            position: relative;
            bottom: 0;
        }
    }
    .navbar-brand {
        position: absolute;
        bottom: 20px;
        z-index: 99;
        @media (max-width: 992px) {
            position: relative;
            bottom: 0;
        }
    }
}

.navbar-paolo {
    background-color: $white;
    left: 0;
    right: 0;
    z-index: 99;
    transition: 0.4s;
    @media (max-width: 992px) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .navbar-nav {
        .lang {
            .dropdown-menu {
                background-color: $white;
                border: 0;
                min-width: 20px;
                a {
                    padding: 10px;
                    &:hover,
                    &:focus,
                    &:active {
                        background: transparent;
                    }
                }
            }
            &.show>.nav-link:before {
                transform: scaleX(0);
            }
            .nav-link {
                &:hover,
                &:focus,
                &:active {
                    &:before {
                        transform: scaleX(0);
                    }
                }
            }
        }
        li:before {
            background: #C9C9C9;
            content: "";
            margin-top: -12px;
            height: 25px;
            width: 2px;
            position: absolute;
            top: 50%;
            @media (max-width: 992px) {
                position: relative;
            }
        }
        .nav-link {
            font-size: 1.2rem;
            font-weight: 400;
            color: $primary;
            margin: 0 10px;
            padding: 8px 0;
            position: relative;
            display: inline-block;
            &:before {
                content: '';
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                height: 3px;
                background: $tertiary;
                transform: scaleX(0);
                transition: transform .35s ease;
            }
            @media (max-width: 992px) {
                color: $white;
                font-weight: 400;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
        .active>.nav-link {
            color: $primary;
            @media (max-width: 992px) {
                color: $white;
            }
            &:before {
                content: '';
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                height: 3px;
                background: $tertiary;
                transform: scaleX(1);
                @media (max-width: 992px) {
                    height: 0;
                    transform: scaleX(0);
                }
            }
        }
        .nav-link {
            &:hover,
            &:focus,
            &:active {
                color: $primary;
                @media (max-width: 992px) {
                    color: $white;
                }
                &:before {
                    transform: scaleX(1);
                    @media (max-width: 992px) {
                        transform: scaleX(0);
                    }
                }
            }
        }
        .show {
            >.nav-link {
                color: $primary;
                @media (max-width: 992px) {
                    color: $white;
                }
                &:before {
                    content: '';
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    height: 3px;
                    background: $tertiary;
                    transform: scaleX(1);
                    @media (max-width: 992px) {
                        height: 0;
                        transform: scaleX(0);
                    }
                }
            }
        }
        .dropdown-menu {
            border-radius: 0;
            background: rgba(29, 67, 156, 0.8);
            border-top: 3px solid #F6891F;
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
            padding: 0;
            top: 39px;
            @media (max-width: 992px) {
                border: 0;
                background: transparent;
            }
            .dropdown-item {
                color: $white;
                @media ( max-width: 992px) {
                    display: block;
                    background: #E6E7E8;
                    padding: 5px 10px;
                    margin: 2px 0;
                    color: $primary;
                    font-weight: 400;
                }
                &:hover,
                &:focus {
                    background-color: $blue;
                }
            }
            @media (max-width: 992px) {
                font-size: 1.2rem;
                background: $white;
            }
        }
    }
    .custom-toggler {
        border-color: rgba(167, 169, 172, 0);
    }
    .navbar-toggler-icon {
        &:before {
            position: absolute;
            right: 45px;
            font-weight: 400;
            text-transform: uppercase;
            top: 4px;
            content: "Menu";
            color: #A7A9AC;
        }
        &:after {
            content: "";
            height: 40px;
            position: absolute;
            width: 40px;
            margin: auto;
            right: 0;
            top: -5px;
            left: -5px;
            border: 1px solid #A7A9AC;
            border-radius: 50%;
        }
        position: relative;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(167,169,172, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar-collapse {
        @media (max-width: 992px) {
            position: absolute;
            top: 96px;
            left: 10px;
            right: 10px;
            background: $white;
        }
        .nav-item {
            @media (max-width: 992px) {
                background: $darkblue;
                margin-bottom: 2px;
            }
            @media (max-width: 992px) {
                .dropdown-toggle {
                    &:after {
                        display: none;
                    }
                }
            }
            @media (max-width: 992px) {
                &.dropdown {
                    &:after {
                        content: "\f078";
                        position: absolute;
                        font-family: "FontAwesome";
                        right: 10px;
                        font-size: 1rem;
                        top: 9px;
                        color: $white;
                    }
                }
            }
        }
    }
}

//Carousel 
.card-content {
    .carousel {
        margin-bottom: 2rem;
    }
    .carousel-indicators {
        // bottom: 112px;
        bottom: -25px;
        ;
        margin-bottom: 0;
    }
}

#articleCarousel .carousel-item {
    height: auto;
}

#articleCarousel .carousel-indicators li {
    width:  5px;
    height: 5px;
}

.carousel-caption {
    text-align: left;
    top: 15% !important;
    .carousel-title {
        color: $primary;
        font-size: 4rem;
        font-weight: 300;
        .bold {
            font-weight: 500;
        }
        &.udline {
            border-bottom: 5px solid $tertiary;
            display: inline;
        }
    }
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-indicators {
    li {
        width:  5px;
        height: 5px;
        border-radius: 50%;
        background-color: #ccc;
    }
    .active {
        background-color: #666;
    }
}

// Choose Option
.home {
    .choose-option {
        @media (max-width: 992px) {
            top:0;
        }
    }
}

.choose-option {
    background-color: $blue;
    position: relative;
    transition: 0.3s;
    .container {
        overflow: hidden;
    }
    @media (max-width: 992px) {
        top: 49px;
    }
    .option-block {
        height: 100%;
        img {
            @media (max-width: 575.98px) {
                height: 30px;
            }
        }
        .option-text {
            display: inline;
            @media (max-width: 575.98px) {
                font-size: 13px;
            }
        }
    }
    img {
        height: 50px;
    }
    a {
        font-size: 2.2rem;
        font-weight: 600;
        color: $white;
        display: block;
        padding: 20px;
        text-align: center;
        &:hover,
        &:focus {
            background-color: $darkblue;
        }
    }
}

//Breadcrumb 
.breadcrumb {
    background: transparent;
    padding-bottom: 0;
    .breadcrumb-item {
        font-weight: 400;
        color: $primary;
        +.breadcrumb-item::before {
            content: '|';
        }
        &.active {
            color: $text-secondary;
        }
    }
}

//Sidebar 
.sidebar-wrapper {
    .widget-search {
        margin: 10px 0 20px;
    }
    .list-group {
        .list-title {
            font-size: 26px;
            color: $primary;
            font-weight: 400;
            padding: 0 1.25rem;
        }
    }
    .list-group-item {
        border: 0;
        border-radius: 0;
        color: $secondary;
        font-weight: 400;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1.2rem;
        background: transparent;
        &:hover,
        &:focus {
            background: transparent;
            color: $blue;
        }
        &.active {
            color: $blue;
        }
    }
}

//Content 
.content {
    padding: 10px 0 20px;
    .block-content {
        background-color: $white;
        padding: 10px 20px;
        overflow: hidden;
        .page-header {
            .page-title {
                overflow: hidden;
                font-size: 2rem;
                font-weight: 600;
                color: $primary;
                border-bottom: 4px solid#8DD8F8;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 10px;
                @media (max-width: 992px) {
                    font-size: 20px;
                }
                img {
                    position: relative;
                    top: -5px;
                    height: 30px;
                }
            }
        }
        .block-form {
            padding: 20px 10px;
            .form-group {
                margin-bottom: 5px;
            }
            .form-control {
                border-radius: 0;
                font-weight: 400;
            }
            .bolder {
                font-weight: 400;
            }
            .btn {
                margin-top: 10px;
            }
        }
        .card {
            cursor: pointer;
            border: 0;
            margin-bottom: 10px;
            .card-block {
                position: relative;
                .card-text {
                    font-size: 1.2rem;
                    padding: 10px 0;
                    color: $text;
                    line-height: 1.3rem;
                    overflow: hidden;
                    max-height: 48px;
                }
            }
            .card-img-top {
                border-radius: 0 !important;
                height: auto;
            }
            .card-image {
                position: relative;
                overflow: hidden;
                height: 0;
                // padding-top: 75%;
                padding-top: 50%;
                &:hover img {
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                }
                img {
                    position: absolute;
                    top: 0;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .5s ease-in-out;
                    transition: .5s ease-in-out;
                }
                .card-title {
                    position: absolute;
                    font-size: 1.5rem;
                    font-weight: 400;
                    width: 100%;
                    bottom: 0;
                    padding: 5px 10px;
                    background: rgba(20, 177, 231, .80);
                    color: $white;
                    margin-bottom: 0;
                    z-index: 99;
                    &.light {
                        background: transparent;
                        position: relative;
                    }
                }
            }
            .card-footer {
                background: $white;
                color: $primary;
                border: 0;
                padding: 5px 0 0;
                a {
                    color: $primary;
                }
                .date-add {
                    font-size: 1rem;
                    font-weight: 400;
                }
                .readmore {
                    color: $primary;
                    font-size: 1rem;
                    font-weight: 400;
                    float: right;
                    padding-top: 3px;
                }
            }
            &:hover {
                img {
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                }
            }
        } // card
        .card-video {
            cursor: pointer;
            .video-player {
                position: relative;
                width: 100%;
                height: 0;
                padding-top: 56.25%;
                overflow: hidden;

                img {
                    position: absolute;
                    width: 100%;
                    height: inital;
                    top: 0;
                    left: 0;
                }
            }
            .card-block {
                position: relative;
                .card-text {
                    width: 100%;
                    max-height: 48px;
                    overflow: hidden;
                    padding: 10px 0;
                    margin: 0;
                    color: $text;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 18px;   
                }
                .date-add {
                    display: inline-block;
                    color: $primary;
                    font-size: 1rem;
                    font-weight: 400;
                }
            }

        }
        &.video-block {
            background: $blue;
            .page-title {
                color: $white;
                border: 0;
                padding: 0;
            }
            .card {
                background: transparent;
                .video-title {
                    color: $white;
                    font-weight: 600;
                    padding-top: 10px;
                    margin-bottom: 0;
                }
                .video-text {
                    color: $white;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 22px;
                    margin-bottom: 0;
                }
                .card-footer {
                    background: transparent;
                    color: $white;
                }
            }
        }
        &.block-primary {
            .page-title {
                background: $blue;
                border: 0;
                padding: 10px 20px;
                color: $white;
            }
            .card {
                padding: 0 20px 0 20px;
                .form-group {
                    margin-bottom: 7.5px;
                    label {
                        color: $text;
                        font-weight: 400;
                    }
                    .form-control {
                        background: #F0EFF4;
                        border-color: #F0EFF4;
                        color: $text;
                        font-weight: 400;
                    }
                }
            }
            .block-footer {
                margin: 10px 20px;
            }
        }
        
         //block-contact
        .block-contact {
            .page-header {
                background: $darkblue;
                .page-title {
                    padding: 5px 10px;
                    margin-bottom: 0;
                    border: 0;
                    color: $white;
                }
            }
            .form-contact-primary {
                background: $block-primary;
                form {
                    padding: 10px 15px 5px;
                    .form-group {
                        font-size: 1.2rem;
                        margin-bottom: 5px;
                    }
                    label {
                        color: $primary;
                        font-weight: 400;
                    }
                    .form-control {
                        border: 0;
                    }
                }
                .captcha-block {
                    .captcha-text {
                        padding-top: 12px;
                        a {
                            display: flex;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 15px;
                            @media (max-width: 992px) {
                                font-size: 1.2rem;
                            }
                        }
                        i {
                            font-size: 1.2rem;
                            float: left;
                            padding-right: 5px;
                            @media (max-width: 992px) {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
            .custom-select {
                font-weight: 400;
                font-style: italic;
                color: $text-secondary;
                border-radius: 0;
                border: 0;
            }
        }
        .card-department {
            float: left;

            .center-list {
                min-height: 160px;
                padding: 10px;
                margin-bottom: 15px;
                background-color: $lightblue;

                &.department-layout-2 {
                    .item {
                        a {
                            .item-image {
                                border: none;
                            }
                            .item-caption {
                                font-size: 1rem;
                            }
                        }
                    }
                }
                .item {
                    text-align: center;
                    padding: 10px 0;
                    a {
                        transition: .2s ease-in-out 0s;
                        &:hover,
                        &:focus {
                            .item-image {
                                border-color: $blue;
                            }
                        }
                        .item-image {
                            border-radius: 50px;
                            border: 3px solid #8EA9BC;
                            width: 80px;
                            height: 80px;
                            line-height: 70px;
                            margin: 0 auto;
                            @media (max-width: 992px) {
                                height: 70px;
                                width: 70px;
                                line-height: 60px;
                            }
                        }
                        .item-caption {
                            color: $primary;
                            font-weight: 400;
                            padding-top: 5px;
                            @media (max-width: 992px) {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .card-slide {
            margin: 10px 0 60px 0;
            .carousel-item {
                min-height: 180px;
                height: auto;
            }
            .title {
                font-size: 28px;
                font-weight: 400;
            }
            .card-caption {
                .title {
                    font-size: 22px;
                }
                p {
                    font-weight: 400;
                    color: $text;
                    margin-bottom: 0;
                }
            }
        }
    } 
    //search-doctor 
    .search-doctor {
        .doctor-thumbnail-list {
            border-left: 1px solid #C9C9C9;
            padding-left: 30px;
            &.no-border {
                border: 0 !important;
            }
            @media (max-width: 992px) {
                border: 0;
                padding-left: 15px;
                ;
            }
            .doctor-item {
                padding-top: 10px;
                .doctor-img {
                    width: 200px;
                    height: 200px;
                    background-repeat: no-repeat;
                    // border-radius: 50%;
                    background-size: cover;
                    background-position: top center;
                    margin: auto;
                }
                .doctor-detail {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    .doctor-name {
                        margin: 0;
                        a {
                            color: $primary;
                            font-weight: 400;
                        }
                    }
                    .doctor-type {
                        color: $text;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .doctor-result-detail {
            padding-top: 10px;
            .doctor-certificate {
                padding-bottom: 50px;
            }
            .title {
                color: $primary;
                font-weight: 400;
                margin-bottom: 0;
            }
            .dcotor-shortdescription {
                color: $secondary;
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 10px;
            }
            .doctortimetable {
                th {
                    border: 0;
                    background-color: $darkblue;
                    color: $white;
                    font-weight: 400;
                    font-size: 22px;
                }
                .heading-row {
                    background: #F0EFF4;
                    .heading {
                        color: $primary;
                        font-size: 22px;
                        padding-left: 2em;
                        border-color: transparent;
                    }
                }
                td {
                    border-top: 0;
                    padding-left: 3em;
                    border-bottom: 1px solid #C9C9C9;
                    color: $secondary;
                }
            }
        }
        .doctor-content-detail { // MICK 
            position: relative;
            font-size: 1.2rem;

            p {
                font-size: 1.2rem;
            }

            .doctortimetable {
                th {
                    border: 0;
                    background-color: $darkblue;
                    color: $white;
                    font-weight: 400;
                    font-size: 22px;
                }
                .heading-row {
                    background: #F0EFF4;
                    .heading {
                        color: $primary;
                        font-size: 22px;
                        padding-left: 2em;
                        border-color: transparent;
                    }
                }
                td {
                    border-top: 0;
                    padding-left: 3em;
                    border-bottom: 1px solid #C9C9C9;
                    color: $secondary;
                }
            }
        }
    }
    .article-list {
        display: block;
        width: 100%;
        .media {

            .img-thumb {
                &.ratio-1x1{
                    position: relative;
                    height: 0;
                    padding-top: 100%;
                    overflow: hidden;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                &.ratio-4x3 {
                    position: relative;
                    height: 0;
                    padding-top: 75%;
                    overflow: hidden;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                &.ratio-16x9 {
                    position: relative;
                    height: 0;
                    padding-top: 56.25%;
                    overflow: hidden;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
            img {
                width: 100%;
                height: innital;
                // max-width: 250px;
            }
            .title {
                color: $primary;
                font-size: 1.5rem;
                font-weight: 600;
            }
            p {
                color: $secondary;
                font-size: 1.2rem;
                margin: 0;

                a {
                    color: $primary;
                    text-decoration: none;
                    outline: none;
                }
            }
            .media-footer {
                a {
                    color: $primary;
                    font-size: 1rem;
                    font-weight: 400;

                    &.btn-readmore {
                         display: block;
                        position: absolute;
                        bottom: 0;
                        right: 10px;
                        font-size: 1rem;
                        font-weight: 100;
                    }
                }
            }
        }

        .description { /* DEV : MICK / update issue / layout for search result */
            .media-body {
                position: relative;

                // &::after {
                //     display: block;
                //     position: absolute;
                //     bottom: 0;
                //     right: 10px;
                //     content: "readmore";
                //     font-size: 1rem;
                //     font-weight: 100;
                // }
            }
        }
    }
    .content-full {
        .card {
            margin-bottom: 40px;
        }
    } //content half 
    .content-half {
        .meta-block {
            overflow: hidden;
            .date-add {
                color: $primary;
                font-weight: 400;
                display: inline-block;
                line-height: 38px;
            }
        }
    }
    .content-block {
        font-size: 1.2rem;
        clear: both;

        .content-headline {
            color: $primary;
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 10px;
        }
        .content-tag {
            position: relative;
            h4 {
                margin-bottom: 15px;
                font-size: 1.2rem;
                color: $darkblue;
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    float: left;
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        background-color: $darkblue;
                        color: #FFF;
                        padding: 5px 10px;
                        transition: all 0.3s;
                        &:hover {
                            background-color: $blue;
                        }
                    }
                }
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 400;
        }
        p {
            color: $secondary;
        }
        ul {
            padding-left: 20px;
            li {
                font-weight: 400;
                list-style-type: disc;
                color: $secondary;
            }
        }
        img {
            max-width: 100%;
        }
    } //About Us 
    .about-us {
        border-left: 1px solid #C9C9C9;
        padding-left: 30px;
        @media (max-width: 992px) {
            border: 0;
            padding-left: 15px;
            ;
        }
    } //Room
    .room-admission {
        .main-image {
            position: relative;
            padding-bottom: 3px;
            .image-caption {
                position: absolute;
                background: rgba(20, 177, 231, .80);
                padding: 5px 10px;
                font-size: 22px;
                font-weight: 400;
                color: $white;
                right: 0;
                left: 0;
            }
        }
        .room-sub {
            .col-md-4:first-child {
                padding-right: 2px;
            }
            .col-md-4:nth-child(2) {
                padding-left: 2px;
                padding-right: 2px;
            }
            .col-md-4:nth-child(3) {
                padding-left: 2px;
            }
            img {
                overflow: hidden;
                height: 250px;
            }
        }
    }
    .pricing-table {
        width: 100%;
        height: auto;
        font-size: 1.2rem;

        .table thead th {
            vertical-align: top;
            font-weight: 400;
            background: $darkblue;
            border: 0;
            color: $white;
            font-size: 1.2rem;
        }
        .table td,
        .table th {
            border: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: 400;
            color: $text;
            ;
        }
        span {
            font-size: 1rem;
        }
        .remark {
            font-size: 1.2rem;
            color: $primary;
        }
    }
    .social-share {
        float: right;
        ul {
            .social-title {
                line-height: 38px;
                font-weight: 400;
            }
            li {
                font-weight: 400;
                color: $primary;
                float: left;
                padding-left: 5px;
                a {
                    color: $primary;
                    border: 2px solid $primary;
                    display: block;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    padding: 5px;
                    line-height: 35px;
                    text-align: center;
                    transition: all 0.3s;
                    &:hover,
                    &:focus {
                        background: $primary;
                        color: $white;
                    }
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .column-2 {
        .card {
            margin-bottom: 20px;
            h5 {
                margin-bottom: 0;
            }
            p {
                font-size: 16px;
                color: $text;
                margin-bottom: 0;
            }
        }
    }
}

.insurance-form {
    h5 {
        color: $primary;
        font-weight: 600;
    }
    .form-group {
        margin-bottom: 10px;
    }
    label,
    .col-form-label {
        color: $primary;
        font-size: 1.2rem;
        font-weight: 400;
    }
    .form-control,
    select {
        background-color: $white;
        border: 1px solid #b3b3b3;
        color: $secondary;
        border-radius: 0;
        font-weight: 400;
    }
    .form-check:first-child {
        padding-left: 0;
    }
    .captcha-text {
        font-weight: 400;
        padding-top: 15px;
        padding-left: 5px;
        @media (max-width: 992px) {
            padding-top: 0;
            padding-left: 0;
        }
    }
}

//Captcha
.captcha-block {
    padding-bottom: 5px;
    .view-captcha {
        display: inline-block;
        padding: 10px 0;
        span {
            background: #ccc;
            color: $primary;
            padding: 0 5px;
            font-size: 28px;
            font-weight: 500;
        }
    }
    a {
        color: $primary;
    }
}

.contact-detail {
    padding: 10px 0;
    address {
        padding-top: 10px;
        .address-title {
            color: $primary;
            font-weight: 400;
            margin-bottom: 5px;
        }
        ul {
            >li {
                color: $text-secondary;
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
    }
    .contact-form {
        padding: 20px 0;
    }
    .page-title {
        background-color: $darkblue !important;
        margin-bottom: 0 !important;
        font-size: 26px !important;
    }
    form {
        background-color: #E6E6E6;
        padding: 10px 20px;
        label {
            color: $primary;
            font-size: 1.2rem;
            font-weight: 400;
        }
        .form-group {
            margin-bottom: 10px;
        }
        .form-control,
            {
            border-radius: 0;
            border: 0;
            font-weight: 400;
        }
        .captcha-block {
            a {
                font-weight: 400;
            }
            .view-captcha {
                padding: 10px 0;
            }
        }
        .ctsubmit {
            text-align: right;
            @media (max-width: 992px) {
                text-align: left;
            }
        }
        .btn {
            background-color: $darkblue;
            padding: 5px 10px;
            border-color: $darkblue;
        }
    }
}

.paolo-pagination {
    padding-top: 20px;
    padding-bottom: 10px;
    .page-link {
        color: $text-secondary;
        margin: 0 3px;
        &:hover,
        &:focus,
        &.active {
            color: $white;
            background: $darkblue;
            border-color: $darkblue;
        }
    }
    .page-item:first-child,
    .page-item:last-child {
        .page-link {
            border-color: transparent;
            background-color: transparent;
            &:hover,
            &:focus {
                background: transparent;
                color: $darkblue;
            }
        }
    }
}

.remark {
    ol {
        padding-left: 15px;
    }
    li {
        color: $text-secondary;
        margin-bottom: 5px;
    }
}

.qa-block {
    .content-headline {
        font-weight: 600;
        color: $primary;
    }
    p {
        margin-bottom: 5px;
    }
    .anwser-title {
        color: $blue;
        font-size: 1.2rem;
        font-weight: 400;
        float: left;
        margin-right: 10px;
    }
    .anwser {
        color: $secondary;
        font-size: 1.2rem;
        font-weight: 400;
        padding-left: 50px;
    }
}
footer {
    background-color: $footer-bg;
    .top-footer {
        background-color: $blue;
        border-top: 1px solid $blue;
        padding: 20px 0;
    }
    .top-footer {
        img {
            margin-bottom: 10px;
            height: 65px;
        }
        h2 {
            font-size: 30px;
            line-height: 1.2;
            color: #fff;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 20px;
            line-height: 1.8;
            color: #fff;
            font-weight: 400;
        }
        span {
            font-size: 26px;
        }
        .btn {
            color: $primary;
        }
        .social-footer {
            ul {
                float: right;
                li {
                    float: left;
                    padding: 0 3px;
                    a {
                        color: $white;
                        border: 2px solid $white;
                        display: block;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        padding: 5px;
                        line-height: 30px;
                        text-align: center;
                        transition: all 0.3s;
                        &:hover,
                        &:focus {
                            background: $tertiary;
                            border-color: $tertiary;
                            color: $white;
                        }
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .callcenter,
        .social-footer {
            padding-top: 10px;
            @media ( max-width: 992px) {
                text-align: center;
                padding: 10px 20px 0;
            }
        }
    }
    .top-footer {
        ul {
            padding-left: 20px;
        }
    }
    .top-footer p {
        font-size: 13px;
        line-height: 30px;
        color: #bdbdbd;
        font-weight: 300;
        padding-right: 20px;
    }
    .top-footer li a {
        font-family: "DBHeavent", sans-serif;
        font-size: 1.2rem;
        line-height: 30px;
        color: $white;
        font-weight: 400;
        transition: color .3s;
        display: block;
    }
    .top-footer li a:hover {
        color: $tertiary;
        box-shadow: none;
    }
    .bottom-footer {
        border-top: 10px solid $tertiary;
        text-align: center;
    }
    p {
        color: $primary;
    }
}


// code overwritten : MICK
// ------------------------------------------------------------------------------------------------------------------------

// display control 
.showon {
    &-mobile { display: none; }
    &-desktop { display: none; }
}

// padding {
.pt-30 { padding-top: 30px !important; }
.pb-30 { padding-bottom: 30px !important; }

// margin
.mb-15 { margin-bottom: 15px !important; }
.mb-30 { margin-bottom: 30px !important; }

// bg
.bg {
    &-white {
        background-color: #fff;
    }
}

// shawdow 
.box-shadow-1 {
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.46);
}

// btn
.btn {
    &:hover, &:active {
        -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.46);
        -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.46);
        box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.46);
    }
}

// card 
.card-deck {
    margin: 0;
}

.content .block-content  {

    p {
        font-size: 1.2rem;
    }

    .card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        a {
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                max-width: 100%;
            }
        }
        
    }
    .card .card-image {
        padding-top: 50%;
    }
    .card-department .center-list {
        transition: all 0.3s;

        &:hover {
            -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.46);
            -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.46);
            box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.46);
        }    
    }
}
.content .search-doctor .doctor-thumbnail-list .doctor-item .doctor-img {
    width: 100%;
}
.content .search-doctor .doctor-thumbnail-list .doctor-item .doctor-detail {
    padding: 0;
}

// section on page
section { 
    &.hotmenu {
        position: relative;

        a { 
            transition: all 0.3s;
        }
    }
    &.search-doctor {
        .btn-doctor-time {
            display: block;
            width: 100%;
            border-radius: 0;
            margin-top: 1.5rem;
            background-color: $blue-2;
            font-size: 22px;
            color: $color-white;
        }
        .table-doctor-time {
            margin-bottom: 1.5rem;
        }
        .collapse.show#collapseDoctorTime {
            max-height: unset;
            overflow: unset;
        }
        .btn-search-clinic {
            width: 100%;
            background-color: transparent;
            border: 1px solid #999;
            text-align: left;

            a {
                display: block;
                padding: 15px;
            }
        }
        .search-clinic-list {
            a {
                display: block;
                width: 100%;
                padding: 15px;
            }
        }
        .dropdown-menu.show.search-clinic-list {
            width: 100%;
            transform: none !important;
            top: 35px !important;
        }
        .dropdown-toggle::after {
            display: none;
        }
    }
    &.testimonial {
        padding-bottom: 20px;

        .feature-image {
            height: 800px;
            background-size: cover;
            /*background-image: url('http://paolohospital.com/phahol/wp-content/uploads/2017/06/%E0%B8%9E%E0%B8%B4%E0%B8%8A%E0%B8%B4%E0%B8%95%E0%B8%AB%E0%B8%A5%E0%B8%AD%E0%B8%94%E0%B9%80%E0%B8%A5%E0%B8%B7%E0%B8%AD%E0%B8%94%E0%B8%AB%E0%B8%B1%E0%B8%A7%E0%B9%83%E0%B8%88-1140x597.jpg');*/
            background-image: url('http://paolohospital.com/phahol/wp-content/uploads/2017/07/nipa_udomwathanapong.jpg');
            /*background-image: url('https://images.pexels.com/photos/774095/pexels-photo-774095.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');*/
            background-repeat: no-repeat;
            background-position: top center;

        }
        .quote {
            padding: 48px;
            margin-top: -100px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
            font-size: 24px;

            min-height: 200px;
        }
        span.name {
            display: block;
            margin-top: 60px;
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            color: rgba(128,184,227,1);
        }
        a.btn-readmore {
            font-size: 16px;
            color: rgba(128,184,227,1);
        }
    }
    &.clinic-center {

        .clinic-list {
            // padding: 1rem;
        }
    }
}

// HOME SECTION
.home {
    .content {
        position: relative;
        padding: 0px 0;
    }
    .article-promotion {}
    .article-healthy {}
    .sidebar-online-consulting {

    }
    .sidebar-video {
        margin-bottom: 20px;
    }
}
.doctor-img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin: auto;
}
.doctor-detail {
    .btn-info {
        width: 100%;
        border-radius: 0;
        margin-top: -10px;
    }
}

.tree {
    min-height:20px;
    // padding:19px;
    margin-bottom:20px;
    // background-color:#fbfbfb;
    // border:1px solid #999;
    // -webkit-border-radius:4px;
    // -moz-border-radius:4px;
    // border-radius:4px;
    // -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    // -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    // box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)

    li {
        list-style-type:none;
        margin:0;
        padding:10px 5px 0 5px;
        position:relative
    }
    li::before, & li::after {
        content:'';
        left:-30px;
        position:absolute;
        right:auto
    }
    li::before {
        border-left:1px solid #999;
        bottom:50px;
        height:100%;
        top:0;
        width:1px
    }
    li::after {
        border-top:1px solid #999;
        height:20px;
        top:25px;
        width:25px
    }
    li span {
        // -moz-border-radius:5px;
        // -webkit-border-radius:5px;
        // border:1px solid #999;
        border-radius:5px;
        display:inline-block;
        padding:3px 8px;
        text-decoration:none
    }
    li i.fas.fa-minus {
        font-size: 10px;
    }
    li a.active {
        text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
    }
    li ul {
        padding-left: 38px;
    }
    li.parent_li > span {
        cursor:pointer
    }
    & > ul > li::before, & > ul > li::after {
        border:0
    }
    li:last-child::before {
        height:30px
    }
    li.parent_li > span:hover, & li.parent_li > span:hover+ul li span {
        // background:#eee;
        // border:1px solid #94a0b4;
        color:#000
    }
}

// MEDIA QUERY
// ------------------------------------------------------------------------------------------------------------------------
@media (max-width: 425px) {
    .sidebar-wrapper .list-group .list-title {
        padding-left: 0;
    }
    .carousel-item {
        min-height: 180px;
    }
    .carousel-caption {
        display: none;
    }
    .content .search-doctor .doctor-thumbnail-list .doctor-item {
        .doctor-img {
            width: 100%; 
            height: 300px;
            margin: 0;
        }
        .doctor-detail {
            padding: 0;
        }
    }
}

@media (max-width: 768px) {
    
    .showon {
        &-mobile { display: block; }
        &-desktop { display: none; }
    }
    .carousel-indicators {
        bottom: 40px;
    }
    .carousel.slide {
        top: 40px;

        .carousel-item {
            height: unset;
            background-size: contain;
            background-position: top center;
        }
    }
}
@media (min-width: 769px) {
    .showon {
        &-mobile { display: none; }
        &-desktop { display: block; }
    }
}

