body {
  background-color: white;
}

a {
  &.btn {
    &.--viewmore {
      display: block;
      width: fit-content;
      margin: auto;
      background-color: #14b1e7;
      color: white;

      &:hover {}
    }
  }
}

section {
  padding: 2rem 0;
  h1 {
    font-size: 1.8rem;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #14b1e7;
    }

    img {
      max-width: 30px;
      max-height: 30px;
      margin-right: .5rem;
      margin-bottom: .5rem;
    }
  }
}

section.hero-banner {
  padding-bottom: 0;
}

section.hotmenu {
  padding: 2rem;
  background-color: #14b1e7;

  &.--home {}
}

section.promotion {

  h1 {

    img {}
  }
  .promotion-content {
    a.btn.--viewmore {
      margin: auto;
      margin-top: 2rem;
    }
  }
}

section.branch {}

section.doctor {
  .tab-branch {
    ul.nav {
      li {
        width: 16.5%;

        a {
          text-align: center;
        }
      }
    }
  }
  .tab-branch-content {
    padding: 3rem;
  }
}

section.clinic {
  .tab-branch {
    ul.nav {
      li {
        width: 16.5%;

        a {
          text-align: center;
        }
      }
    }
  }
  .tab-branch-content {
    padding: 3rem;
  }
}

section.consult {
  .video-present {
    height: 100%;
    background-image: url('../images/doctor-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .consult-form {
    h2 {
      padding: 1rem;
      background-color: #14b1e7;
      font-size: 1.6rem;
      font-weight: 600;
      color: white;
    }
    form {
      font-size: 1.3rem;

      input[type=submit] {
        padding: .2rem 2rem !important;
        background-color: #14b1e7 !important;
        color: white !important;
      }
    }
  }
}

.bottom-footer {
  img {
    width: 350px;
  }
}

ul.hotmenu {
  display: flex;
  width: 100%;
  margin: 0;

  li {
    width: 25%;
    flex-direction: column;
    a {
      display: block;
      width: fit-content;
      font-size: 1.5rem;

      img {
        max-width: 30px;
        max-height: 30px;
        margin-right: .5rem;
      }
      span {
        font-size: 1.5rem;
        color: white;
        font-weight: 600;
      }
    }
  }
}
ul.nav.nav-tabs {
  li {
    &.nav-item {
      a.nav-link{
        border: 1px solid #f0f0f0;
        border-bottom: 0;
        border-radius: 0;
        background-color: #f5f5f5;
        color: #666;

        &.active {
          border-bottom: 2px solid #14b1e7;
          color: #14b1e7;
        }
      }
    }
  }
}

.card {
  border: 0;

  &.--article {
    h5 {
      font-size: 1rem;
    }
    .thumbnail {
      position: relative;
      overflow: hidden;

      &:hover {
        img {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
      }

      img {
        max-width: 100%;
        max-width: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
      }
      span {
        position: absolute;
        width: 100%;
        padding: 0.5rem;
        margin: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(20, 177, 231, 0.8);
        color: white;
        font-weight: 600;
      }
    }
    .footer {
      display: flex;

      div {}
      span, a {
        color: #14b1e7;

        &.date-add {}
      }
    }
  }
  &.--promotion {

    .thumbnail {
      display: block;
      position: relative;
      overflow: hidden;

      &:hover {
        img {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
      }

      img {
        max-width: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
      }
      h5 {
        position: absolute;
        width: 100%;
        padding: .5rem;
        margin: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(20, 177, 231, 0.8);
        color: white;
      }
    }
  }
  &.--branch {
    border: 1px solid #14b1e7;
    border-radius: 0;

    h5 {
      margin: .5rem;
      font-size: 1.8rem;
      color: #14b1e7;

      &::after {
        content: '';
        display: block;
        width: 40%;
        height: 2px;
        margin-top: .5rem;
        background-color: #14b1e7;
      }
    }
    .contact {
      margin: .5rem;
      text-align: center;
      color: #14b1e7;
    }
    a {
      width: 50%;
      padding: .5rem;
      text-align: center;
      color: white;

      &.visit-site {
        background-color: #14b1e7;
      }
      &.google-map {
        background-color: #1F429A;
      }
    }
  }
  &.--doctor {
    .thumbnail {
      width: fit-content;
      margin: auto;

      img {
        max-width: 150px;
      }
    }
    h5 {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: #14b1e7;
      text-align: center;

      &::after {
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        margin: auto;
        background-color: #14b1e7;
      }
    }
    p {
      font-size: 1rem;
      font-weight: 200;
      color: #999;
      text-align: center;
    }
  }
  &.--clinic {

    &:hover {
      .thumbnail {
        border-color: #14b1e7;
      }
      h5 {
        color: #14b1e7;
      }
    }

    .thumbnail {
      width: fit-content;
      padding: 1.5rem;
      margin: auto;
      margin-bottom: .5rem;
      border: 2px solid #8EAABC;
      border-radius: 50%;

      img {
        width: 100%;
        max-width: 60px;
        max-height: 60px;
      }
    }
    h5 {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}



// CAROUSEL
.hero-slider {
  background-color: #f5f5f5;

    .item {
      display: block;
      position: relative;
      width: 100% !important;
      height: 0;
      padding: 0;
      padding-top: 31%;


      .banner {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url('https://www.paolophahol.com/Resource/Image/Banner/Cover_banner_Senior.jpg');
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;

        .text {
          position: absolute;
          top: 50%;
          left: 40%;
          transform: translate(-50%, -50%);
          font-size: 60px;
          font-weight: 400;
          color: #14b1e7;

          h1 {
            font-size: 100px;
            font-weight: 600;
            line-height: 100px;

            span {}
          }
        }
      }
    }
  }

.carousel {
  .item {
    padding: .5rem;
  }
}


@media screen and (max-width: 428px) {
  
  a.btn.--viewmore {
    width: 100%;
  }
  section.doctor {
    .tab-branch {
      ul.nav {
        li {
          width: 100%;
        } 
      }
    }
  }
  section.clinic {
    .tab-branch {
      ul.nav {
        li {
          width: 100%;
        }
      }
    }
  }
  section.consult {
    .consult-form {
      form {
        input[type=submit] {
          width: 100%;
        }
      }
    }
  }
}