body.home {
  background-color: white;
}

a.btn.--viewmore, a.--viewmore.btn-cart1, a.--viewmore.btn-cart2 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  background-color: #14b1e7;
  color: white;
}

.--showon.-desktop {
  display: block !important;
}

.--showon.-mobile {
  display: none !important;
}

section {
  padding: 2rem 0;
}

section h1 {
  font-size: 1.8rem;
}

section h1::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #14b1e7;
}

section h1 img {
  max-width: 30px;
  max-height: 30px;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

section.feature-banner {
  padding-top: 0;
  padding-bottom: 0;
}

section.hotmenu {
  display: block;
  position: relative;
  z-index: 20;
}

section.hotmenu.--home {
  display: block;
  width: 100%;
  z-index: 20;
  top: 0;
  padding-top: 0;
  margin-bottom: 0;
}

section.hotmenu.--home ul.hotmenu.--fixed {
  position: fixed;
  z-index: 20;
}

section.hotmenu.--home ul.hotmenu ul.branch-list {
  display: none;
}

section.hotmenu.--content {
  padding-top: 0;
  margin-top: 133px;
}

section.hotmenu.--content ul.hotmenu ul.branch-list {
  display: none;
}

section.promotion .promotion-content a.btn.--viewmore, section.promotion .promotion-content a.--viewmore.btn-cart1, section.promotion .promotion-content a.--viewmore.btn-cart2 {
  margin: auto;
  margin-top: 2rem;
}

section.doctor .tab-branch ul.nav li {
  width: 16.65%;
}

section.doctor .tab-branch ul.nav li a {
  text-align: center;
}

section.doctor .tab-branch-content {
  padding: 3rem;
}

section.clinic .tab-branch ul.nav li {
  width: 16.65%;
}

section.clinic .tab-branch ul.nav li a {
  text-align: center;
}

section.clinic .tab-branch-content {
  padding: 3rem;
}

section.consult .video-present {
  height: 100%;
  background-image: url("../images/doctor-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

section.consult .consult-form h2 {
  padding: 1rem;
  background-color: #14b1e7;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}

section.consult .consult-form form {
  font-size: 1.3rem;
}

section.consult .consult-form form input[type=submit] {
  padding: .2rem 2rem !important;
  background-color: #14b1e7 !important;
  color: white !important;
}

.bottom-footer img {
  width: 350px;
}

.bottom-footer p {
  margin-bottom: 0;
}

ul.hotmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  background-color: #14b1e7;
}

ul.hotmenu li {
  position: relative;
  width: 25%;
  padding: 1.5rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul.hotmenu li:hover {
  background-color: #047cc1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

ul.hotmenu li a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
}

ul.hotmenu li a img {
  max-width: 30px;
  max-height: 30px;
  margin-right: .5rem;
}

ul.hotmenu li a span {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

ul.nav.nav-tabs li.nav-item a.nav-link {
  border: 1px solid #f0f0f0;
  border-bottom: 0;
  border-radius: 0;
  background-color: #f5f5f5;
  color: #666;
}

ul.nav.nav-tabs li.nav-item a.nav-link.active {
  border-bottom: 2px solid #14b1e7;
  color: #14b1e7;
}

ul.branch-list {
  position: absolute;
  width: 100%;
  left: 0;
}

ul.branch-list li {
  width: 100%;
  padding: .5rem;
  background-color: #047cc1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

ul.branch-list li:hover {
  background-color: #14b1e7;
}

ul.branch-list li a {
  font-size: 1rem;
  color: white;
  text-align: left;
}

ul.brach-list-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

ul.brach-list-card li {
  width: 16%;
  margin-right: .5rem;
}

ul.brach-list-card li:last-child {
  margin-right: 0;
}

.contents {
  padding: 0;
  margin: 0;
}

.page-title {
  overflow: hidden;
  font-size: 2rem;
  font-weight: 600;
  color: #14b1e7;
  border-bottom: 4px solid #8DD8F8;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.page-title::after {
  background: none;
}

main .date-add {
  color: #14b1e7;
  font-weight: 400;
  display: inline-block;
  line-height: 38px;
}

main .article-title {
  width: 100%;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  text-align: center;
}

main .article-title span {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  background: #fff;
  padding: 0 10px;
}

main .content table {
  margin-bottom: 1rem;
}

main .content table tr:nth-child(even) {
  background: #EAF4FB;
}

main .content table tr:nth-child(odd) {
  background: #D3D3D3;
}

main .content table tr td {
  padding: 1rem;
  border: 1px solid #999;
  color: #3D5FA6;
  font-size: 20px;
}

aside .consult-form {
  background-color: #E6E6E6;
}

aside .consult-form form {
  padding: 1rem;
}

.bucket-list table {
  width: 100%;
  border: 1px solid #f5f5f5;
}

.bucket-list table tr td {
  padding: 1rem;
}

.bucket-list table thead tr td {
  background-color: #14B1E6;
  color: #fff;
  text-align: center;
}

.bucket-list table thead tr td:first-child {
  width: 10%;
}

.bucket-list table thead tr td:nth-child(2) {
  width: 50%;
}

.bucket-list table thead tr td:last-child, .bucket-list table thead tr td:nth-child(3) {
  width: 20%;
}

.bucket-list table tbody tr {
  border-bottom: 1px solid #f5f5f5;
}

.bucket-list table tbody tr td:first-child, .bucket-list table tbody tr td:last-child, .bucket-list table tbody tr td:nth-child(3) {
  text-align: center;
}

.bucket-list .item-amount {
  text-align: center;
  border: 0;
  outline: none;
}

.bucket-list .item-price {
  text-align: center;
  border: 0;
  background-color: transparent;
}

.bucket-list a.increase, .bucket-list a.decrease {
  border: none;
  background-color: transparent;
  font-size: 26px;
  color: #14b1e7;
}

.bucket-list button.add_to_cart {
  background-color: #14b1e7;
  border: none;
  color: #fff;
  margin-top: 1rem;
  margin-left: auto;
  display: block;
  padding: .7rem 1.5rem;
}

.consult-form h2 {
  padding: 1rem;
  background-color: #14b1e7;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}

.consult-form .btn.--submit, .consult-form .--submit.btn-cart1, .consult-form .--submit.btn-cart2 {
  background: #14b1e7;
  border-color: #14b1e7;
  color: #fff;
  cursor: pointer;
}

.section-branch {
  background-color: #F0EFF4;
  border-radius: 22px;
  color: #a8b2b6;
  border-color: transparent;
  overflow: hidden;
}

.section-branch .custom-select {
  background-color: #F0EFF4;
  border-radius: 22px;
  color: #a8b2b6;
  border-color: transparent;
  overflow: hidden;
}

.card {
  border: 0;
}

.card img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.card.--article h5 {
  font-size: 1rem;
  color: #14b1e7;
}

.card.--article .thumbnail {
  position: relative;
  overflow: hidden;
}

.card.--article .thumbnail:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card.--article .thumbnail span {
  position: absolute;
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 177, 231, 0.8);
  color: white;
  font-weight: 600;
}

.card.--article .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999;
}

.card.--article .footer span.date-add, .card.--article .footer a.date-add {
  color: #999;
}

.card.--promotion .thumbnail {
  display: block;
  position: relative;
  overflow: hidden;
}

.card.--promotion .thumbnail:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card.--promotion .thumbnail h5 {
  position: absolute;
  width: 100%;
  padding: .5rem;
  margin: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(20, 177, 231, 0.8);
  color: white;
}

.card.--branch {
  top: 0;
  border: 1px solid #14b1e7;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card.--branch:hover {
  background-color: #14b1e7;
  top: -5px;
}

.card.--branch:hover h5, .card.--branch:hover .contact {
  color: white;
}

.card.--branch h5 {
  margin: .5rem;
  font-size: 1.8rem;
  color: #14b1e7;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card.--branch h5::after {
  content: '';
  display: block;
  width: 40%;
  height: 2px;
  margin-top: .5rem;
  background-color: #14b1e7;
}

.card.--branch .contact {
  margin: .5rem;
  text-align: center;
  color: #14b1e7;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card.--branch a {
  width: 50%;
  padding: .5rem;
  text-align: center;
  color: white;
}

.card.--branch a.visit-site {
  background-color: #14b1e7;
}

.card.--branch a.google-map {
  background-color: #1F429A;
}

.card.--doctor:hover .thumbnail img {
  border-color: #14b1e7;
}

.card.--doctor .thumbnail {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.card.--doctor .thumbnail img {
  max-width: 150px;
  border: 3px solid transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.card.--doctor h5 {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #14b1e7;
  text-align: center;
}

.card.--doctor h5::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  margin: auto;
  background-color: #14b1e7;
}

.card.--doctor p {
  font-size: 1rem;
  font-weight: 400;
  color: #999;
  text-align: center;
}

.card.--clinic:hover .thumbnail {
  border-color: #14b1e7;
}

.card.--clinic:hover h5 {
  color: #14b1e7;
}

.card.--clinic .thumbnail {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem;
  margin: auto;
  margin-bottom: .5rem;
  border: 2px solid #8EAABC;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card.--clinic .thumbnail img {
  width: 100%;
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
}

.card.--clinic h5 {
  font-size: 1.2rem;
  text-align: center;
  color: #14b1e7;
}

.carousel-hero-banner {
  background-color: #f5f5f5;
}

.carousel-hero-banner .item {
  display: block;
  position: relative;
  padding: 0;
}

.carousel-hero-banner .item a {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  padding-top: 36%;
}

.carousel-hero-banner .item .banner {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #047cc1;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-hero-banner .item .banner .text {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 400;
  color: #14b1e7;
}

.carousel-hero-banner .item .banner .text h1 {
  font-size: 100px;
  font-weight: 600;
  line-height: 100px;
}

.carousel .item {
  padding: .5rem;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
}

.slick-dotted {
  bottom: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-prev:before, .slick-next:before {
  color: #999;
}

.slick-prev:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f053";
  font-weight: 900;
}

.slick-next:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f054";
  font-weight: 900;
}

.accordion-branch .accordion .card .card-header {
  padding: 0;
  border-bottom: 0;
}

.accordion-branch .accordion .card .card-header h2 button {
  width: 100%;
  text-align: left;
  text-decoration: none;
  outline: none;
  color: #14b1e7;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.accordion-branch .accordion .card .card-header h2 button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.accordion-branch .accordion .card .collapse.show {
  border-top: 2px solid #14b1e7;
}

@media screen and (max-width: 428px) {
  .--showon.-desktop {
    display: none !important;
  }
  .--showon.-mobile {
    display: block !important;
  }
  a.btn.--viewmore, a.--viewmore.btn-cart1, a.--viewmore.btn-cart2 {
    width: 100%;
  }
  section.doctor .tab-branch ul.nav li {
    width: 100%;
  }
  section.clinic .tab-branch ul.nav li {
    width: 100%;
  }
  section.consult .consult-form form input[type=submit] {
    width: 100%;
  }
  section.promotion .slick-prev {
    left: -15px;
  }
  section.promotion .slick-next {
    right: -15px;
  }
  section.blog-healthy .slick-prev {
    left: -15px;
  }
  section.blog-healthy .slick-next {
    right: -15px;
  }
  ul.hotmenu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  ul.hotmenu li {
    width: 25%;
  }
  ul.hotmenu li span {
    display: none;
  }
  ul.brach-list-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  ul.brach-list-card li {
    width: 47.5%;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
  ul.brach-list-card li:last-child {
    margin-right: 0;
  }
  .slick-dots li button:before {
    opacity: .75;
  }
  .slick-prev {
    left: 0;
    z-index: 1;
  }
  .slick-next {
    right: 0;
  }
  .section-branch {
    margin-top: 1rem;
  }
  .social-share ul li a {
    width: 35px !important;
    height: 35px !important;
  }
  .social-share ul li a i {
    position: relative;
    top: -3px;
  }
  .bucket-list .item-amount, .bucket-list .item-price {
    width: 50px;
  }
  .bucket-list table tbody tr td {
    padding: 1rem 0;
  }
}

.btn, .btn-cart1, .btn-cart2 {
  border: 1px solid #14b1e6;
  padding: 3px 10px;
  text-align: center;
  color: #14b1e6;
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

.btn-cart1:hover {
  background: #14b1e6;
  color: #fff;
}

.btn-cart2 {
  border: none;
  background: #14b1e6;
  color: #fff;
}

.btn-cart2:hover {
  background: #1e429a;
}

.page-title {
  margin: 0;
  text-transform: uppercase;
}

.page-headline {
  padding: 10px 0;
  border-bottom: 2px solid #8DD8F8;
  color: #1e429a;
}

.page-headline h2 {
  padding: 0;
  font-size: 1.5rem;
}

.breadcrumb {
  padding: 0 0 15px 0;
  margin: 0;
}

.breadcrumb .breadcrumb-item {
  font-size: 1.45rem;
}

.frm h3 {
  font-weight: 300;
}

.frm input[type=text], .frm input[type="tel"], .frm input[type="number"], .frm input[type="password"], .frm input[type="email"] {
  font-size: 1.3rem;
}

.frm .section-frm {
  padding: 10px 100px;
}

.frm label, .frm .box-right, .frm .radio-box {
  vertical-align: middle;
  display: inline-block;
}

.frm label {
  font-size: 1.5rem;
  text-align: right;
  padding: 0 20px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  color: #444;
}

.frm .box-right {
  display: inline-block;
}

.frm .radio-box {
  display: inline-block;
}

.frm .radio-box input[type=radio], .frm .radio-box input[type=checkbox], .frm .radio-box span {
  display: inline-block;
  vertical-align: middle;
}

.frm .radio-box .form-check-input {
  position: static;
  margin: 0 5px 0 0;
}

.frm .radio-box span {
  font-size: 1.2rem;
  margin-right: 25px;
}

.frm .frm-col label {
  width: 36%;
}

.frm .frm-col .box-right {
  width: 63%;
}

.frm .frm-row label {
  width: 17%;
}

.frm .frm-row .box-right {
  width: 82.5%;
}

.frm .sep {
  background: #ccc;
  height: 10px;
  width: 1px;
  display: inline-block;
  margin: 0 10px !important;
  vertical-align: middle;
}

.frm .btn, .frm .btn-cart1, .frm .btn-cart2 {
  padding: 0px 30px;
}

.box-select {
  position: relative;
  cursor: pointer;
}

.box-select .select {
  background: none;
  z-index: 1;
  position: relative;
}

.box-select:after {
  -webkit-mask-image: url("../images/icons/chevron-down.svg");
  mask-image: url("../images/icons/chevron-down.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #999;
  width: 13px;
  height: 13px;
  position: absolute;
  right: 10px;
  top: 15px;
  content: '';
  z-index: 0;
}

.box-select ul.select-list {
  background: #8dd6f7;
  position: absolute;
  padding: 7px 0;
  top: 50px;
  left: 0;
  z-index: 3;
  width: 100%;
  border: 1px solid #8dd6f7;
  display: none;
}

.box-select ul.select-list li {
  cursor: pointer;
  padding: 2px 15px;
  display: block;
  color: #fff;
  font-size: 1.2rem;
}

.process-top {
  text-align: center;
  height: 52px;
  margin: 20px 0 80px;
}

.cart-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.cart-process .process {
  text-align: center;
}

.cart-process .process i {
  background: #e6e6e6;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.cart-process .process i:before {
  content: '';
  width: 28px;
  height: 25px;
  display: block;
  margin: auto;
}

.cart-process .process span {
  font-size: 1.3rem;
}

.cart-process .process.active i {
  background: #1e429a;
}

.cart-process .process.active i:before {
  background-color: #fff;
}

.cart-process .cart-icon i:before {
  -webkit-mask-image: url("../images/icons/shopping-cart.svg");
  mask-image: url("../images/icons/shopping-cart.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #d5d5d5;
}

.cart-process .checkout-icon i:before {
  -webkit-mask-image: url("../images/icons/checkout.svg");
  mask-image: url("../images/icons/checkout.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #d5d5d5;
}

.cart-process .payment-icon i:before {
  -webkit-mask-image: url("../images/icons/credit-card.svg");
  mask-image: url("../images/icons/credit-card.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #d5d5d5;
}

.cart-process .confirm-icon i:before {
  -webkit-mask-image: url("../images/icons/check-circle.svg");
  mask-image: url("../images/icons/check-circle.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #d5d5d5;
}

.cart-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.cart-bar .bar {
  content: "";
  background: #e6e6e6;
  height: 10px;
  width: 30%;
}

.cart-bar .bar.active {
  background: #1e429a;
}

.delete {
  cursor: pointer;
}

#cart-page .cart-list table td {
  font-size: 1.3rem;
  line-height: 1;
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
}

#cart-page .cart-list table td:nth-child(1) {
  width: 7%;
}

#cart-page .cart-list table td:nth-child(2) {
  width: 45%;
}

#cart-page .cart-list table td:nth-child(3) {
  width: 15%;
}

#cart-page .cart-list table td:nth-child(4) {
  width: 10%;
  text-align: center;
}

#cart-page .cart-list table td:nth-child(5) {
  width: 15%;
  text-align: center;
}

#cart-page .cart-list table td:nth-child(6) {
  width: 7%;
  text-align: center;
  color: #f00;
}

#cart-page .cart-list table td input[type=text] {
  width: 50px;
  display: inline-block;
}

#cart-page .cart-list table td input.item-amount {
  width: 32px;
}

#cart-page .cart-btn {
  padding: 10px 0 30px;
  text-align: right;
}

.login-link {
  padding: 20px;
}

.login-link a, .login-link span {
  display: inline-block;
  vertical-align: middle;
}

.login-link a {
  color: #8dd6f7;
}

.login-link .forgot {
  color: #ccc;
}

.login-link span {
  height: 10px;
  width: 1px;
  background: #ccc;
  margin: 0 10px;
}

.login-left {
  padding-right: 50px;
  padding-top: 15px;
  border-right: 2px solid #8dd6f7;
}

.login-right {
  padding: 20px 0 0 40px;
  font-size: 1.4rem;
  color: #444;
}

/*/////////////// Responsive ////////////////*/
@media only screen and (max-width: 991px) {
  .frm .section-frm {
    padding: 10px 10px;
  }
  .frm .frm-col label, .frm .frm-row label {
    width: 30%;
  }
  .frm .frm-col .box-right, .frm .frm-row .box-right {
    width: 68%;
  }
  .login-left {
    padding-right: 0px;
    padding-top: 20px;
    border-right: none;
  }
  .login-right {
    padding: 20px 0 0 0px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .cart-process {
    width: 100%;
  }
  .cart-process .process span {
    font-size: 1rem;
  }
  .cart-bar {
    display: none;
  }
}

@media only screen and (max-width: 428px) {
  .frm .section-frm {
    padding: 0 0 20px 0;
  }
  .frm .frm-col label, .frm .frm-row label {
    width: 100%;
    margin: 0 0 5px;
    text-align: left;
  }
  .frm .frm-col .box-right, .frm .frm-row .box-right {
    width: 100%;
  }
  .frm .btn, .frm .btn-cart1, .frm .btn-cart2 {
    width: 100%;
    padding: 5px 0;
  }
}
/*# sourceMappingURL=main.css.map */