

@include breakpoint(medium) {
    .frm {
        .section-frm{
            padding:10px 10px; 
        }

        .frm-col, .frm-row {
            label{
                width:30%;    
            }
            
            .box-right{
                width:68%;
            }
        }
    }

    .login-left{
        padding-right:0px; padding-top:20px;
        border-right:none;
        
    }
    
    .login-right{
        padding:20px 0 0 0px;
        text-align: center;
    }

    
} 