@include breakpoint(xsmall) {
    .frm {
        .section-frm{
            padding:0 0 20px 0;
        }

        .frm-col, .frm-row {
            label{
                width:100%;  margin:0 0 5px;
                text-align: left;
            }
            
            .box-right{
                width:100%;
            }
        }

        .btn{
            width:100%; padding:5px 0;
        }
    }


    // #cart-page{
    //     .cart-list{
    //         table{
    //             td{
    //                 width:100%; display: block;
    
    //                 &:nth-child(1),&:nth-child(2),&:nth-child(3), &:nth-child(4),&:nth-child(5), &:nth-child(6){ 
    //                     width:100%;
    //                 }
    
    //                 input[type=text]{
    //                     width:50px; display:inline-block;
    //                 }
    
    //                 input.item-amount{
    //                     width:32px;
    //                 }
    //             }
    //         } 
    //     }
    // }
}